
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

.calculator {
    display: flex;
    flex-direction: column;
    border: 10px solid gray;
    padding: 20px;
    background-color: black;
    color: white;
    width: 380px;
    height: 650px;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 20px;
}

/* ----------------displays ----------------- */
.display {
    font-family: 'digital_dreamregular';
    display: flex;
    flex-direction: column;
    background-color:rgb(29, 27, 27);
    border: 2px solid gray;
    margin: 20px;
    padding: 2px;
    width: 100%;
    height: 25%;
    border-radius: 10px;
    
}

.current{
    display: flex;
    font-size: 3vh;
    width: auto;
    height: 60%;
    justify-content: flex-end;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all;
}

.previous{
    font-size: 19px;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

/* --------------------main button grid ------------------ */

.buttons {
    width: 100%;
    height: 75%;
}
.buttonRow {
    display: flex;
    height: 20%;
}
button {
    background-color: lightgray;
    font-family: 'digital_dreamregular';
    font-size: 35px;
    width: 50px;
    margin: 3px;
    flex-grow: 1;
    border: none;
    border-radius: 10%;
}

button.num {
    background-color: gray;
}
button#clear{
    background-color: lightcoral;
}
button#backspace{
    font-size: 40px;
}
button#equals{
    background-color: yellowgreen;
}
button.operation{ 
    background-color: lightblue;
}
button#negate{
    font-size: 25px;
}

button:active{
    animation: pulse 0.1s ease;
}

button:hover{
    color: white;
    transform: scale(1.05);   
}



/* --------------footer---------------- */
footer{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center; 
}

.link-icon{
    width: 30px;
    height: 30px;
}

/* --------------custom font -------------  */

@font-face {
    font-family: 'digital_dreamregular';
    src: url('./digital-dream-font/digital-dream.regular-webfont.woff2') format('woff2'),
         url('./digital-dream-font/digital-dream.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* ------------ button effects ---------- */
@keyframes pulse {
	50% {
		transform: scale(0.9);
	}

}